In [2]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [5]:
rank_file = "../Resources/RankedMeasureData.csv"
rank_df = pd.read_csv(rank_file, header=1)
rank_df.head()

,FIPS,State,County,Years of Potential Life Lost Rate,95% CI - Low,95% CI - High,Z-Score,Years of Potential Life Lost Rate (Black),Years of Potential Life Lost Rate (Hispanic),Years of Potential Life Lost Rate (White),...,Z-Score.33,% Drive Alone (Black),% Drive Alone (Hispanic),% Drive Alone (White),# Workers who Drive Alone,% Long Commute - Drives Alone,95% CI - Low.21,95% CI - High.21,Z-Score.34,Unnamed: 164
0,37000,North Carolina,NaN,7281,7221,7341,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3609146,31,31,32,NaN,NaN
1,37001,North Carolina,Alamance,7804,7295,8314,-0.27,12252.0,3235.0,7223.0,...,0.60,83.0,70.0,86.0,60184,31,30,33,-0.25,NaN
2,37003,North Carolina,Alexander,7334,6388,8280,-0.58,6239.0,NaN,7573.0,...,1.35,NaN,NaN,NaN,13338,36,32,40,0.24,NaN
3,37005,North Carolina,Alleghany,8720,6504,10936,0.31,NaN,NaN,NaN,...,-0.55,NaN,NaN,NaN,3467,32,26,39,-0.16,NaN
4,37007,North Carolina,Anson,10502,8977,12028,1.46,12647.0,NaN,8821.0,...,0.66,78.0,NaN,90.0,8395,39,34,45,0.60,NaN

In [6]:
measure_file = "../Resources/AdditionalMeasureData.csv"
measure_df = pd.read_csv(measure_file, header=1)
measure_df.head()

,FIPS,State,County,# Deaths,Age-Adjusted Mortality,95% CI - Low,95% CI - High,Age-Adjusted Mortality (Black),Age-Adjusted Mortality (Hispanic),Age-Adjusted Mortality (White),...,# Non-Hispanic White,% Non-Hispanic White,# Not Proficient in English,% Not Proficient in English,95% CI - Low.13,95% CI - High.13,% Female,# Rural,% Rural,Unnamed: 99
0,37000,North Carolina,NaN,127164,368,366,370,NaN,NaN,NaN,...,6447335,63.5,243325,2.6,2.5,2.7,51.4,3233727,33.9,NaN
1,37001,North Carolina,Alamance,2167,393,376,410,550.0,145.0,374.0,...,103147,64.6,4839,3.3,2.9,3.7,52.5,43160,28.6,NaN
2,37003,North Carolina,Alexander,569,396,361,430,289.0,NaN,410.0,...,32541,86.9,283,0.8,0.1,1.5,49.2,27072,72.8,NaN
3,37005,North Carolina,Alleghany,196,427,359,494,NaN,NaN,NaN,...,9439,87.0,129,1.2,0.0,2.5,50.3,11155,100.0,NaN
4,37007,North Carolina,Anson,471,508,460,555,574.0,NaN,459.0,...,11367,44.7,204,0.8,0.2,1.4,47.4,21157,78.5,NaN

### Transform premise DataFrame

In [10]:
measure_df.columns

Index(['FIPS', 'State', 'County', '# Deaths', 'Age-Adjusted Mortality',
       '95% CI - Low', '95% CI - High', 'Age-Adjusted Mortality (Black)',
       'Age-Adjusted Mortality (Hispanic)', 'Age-Adjusted Mortality (White)',
       '# Deaths.1', 'Child Mortality Rate', '95% CI - Low.1',
       '95% CI - High.1', 'Child Mortality Rate (Black)',
       'Child Mortality Rate (Hispanic)', 'Child Mortality Rate (White)',
       '# Deaths.2', 'Infant Mortality Rate', '95% CI - Low.2',
       '95% CI - High.2', 'Infant Mortality Rate (Black)',
       'Infant Mortality Rate (Hispanic)', 'Infant Mortality Rate (White)',
       '% Frequent Physical Distress', '95% CI - Low.3', '95% CI - High.3',
       '% Frequent Mental Distress', '95% CI - Low.4', '95% CI - High.4',
       '% Diabetic', '95% CI - Low.5', '95% CI - High.5', '# HIV Cases',
       'HIV Prevalence Rate', '# Food Insecure', '% Food Insecure',
       '# Limited Access', '% Limited Access', '# Drug Overdose Deaths',
       'Drug Overdose Mortality Rate', 'Range Drug Overdose Mortality Rate',
       '# Motor Vehicle Deaths', 'MV Mortality Rate', '95% CI - Low.6',
       '95% CI - High.6', '% Insufficient Sleep', '95% CI - Low.7',
       '95% CI - High.7', '# Uninsured', '% Uninsured', '95% CI - Low.8',
       '95% CI - High.8', '# Uninsured.1', '% Uninsured.1', '95% CI - Low.9',
       '95% CI - High.9', 'Costs', 'Other PCP Rate', 'Other PCP Ratio',
       '% Disconnected Youth', 'Household Income', '95% CI - Low.10',
       '95% CI - High.10', 'Household income (Black)',
       'Household income (Hispanic)', 'Household income (White)',
       '% Free or Reduced Lunch', 'Segregation index', 'Segregation Index',
       'Homicide Rate', '95% CI - Low.11', '95% CI - High.11',
       '# Firearm Fatalities', 'Firearm Fatalities Rate', '95% CI - Low.12',
       '95% CI - High.12', 'Population', '% < 18', '% 65 and over',
       '# African American', '% African American',
       '# American Indian/Alaskan Native', '% American Indian/Alaskan Native',
       '# Asian', '% Asian', '# Native Hawaiian/Other Pacific Islander',
       '% Native Hawaiian/Other Pacific Islander', '# Hispanic', '% Hispanic',
       '# Non-Hispanic White', '% Non-Hispanic White',
       '# Not Proficient in English', '% Not Proficient in English',
       '95% CI - Low.13', '95% CI - High.13', '% Female', '# Rural', '% Rural',
       'Unnamed: 99'],
      dtype='object')

### Transform county DataFrame

### Create database connection

In [ ]:
# Confirm tables

### Load DataFrames into database